<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wero.wero_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="com.wero.wero_app.GlobalApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.WERO_App">

        <activity android:name="com.wero.wero_app.EditDiary"/>
        <activity android:name="com.wero.wero_app.Register"/>
        <activity android:name="com.wero.wero_app.ReplyList" />
        <activity android:name="com.wero.wero_app.WriteDiary" />
        <activity android:name="com.wero.wero_app.WriteReply" />
        <activity android:name="com.wero.wero_app.Setting" />
        <activity android:name="com.wero.wero_app.MainActivity" />
        <activity android:name="com.wero.wero_app.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="kakaoade08056f1c3a9fd0f215520fd377866" />
            </intent-filter>
        </activity>
    </application>

</manifest>